# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Mac
.DS_Store

# Maven
log/
target/
dependency-reduced-pom.xml

# Test
test.db

# Configuration
config.properties
